### 1. Write a Python program to find sum of elements in list?

In [1]:
def func1(l):
    """
    Returns sum of elements in list assuming list contains only numbers.
    Input
    1 : a list
    """
    s = 0
    for i in l:
        s = s + i
    return s

In [2]:
func1([1, 2, 5, 6, 7, 8, 9])

38

### 2. Write a Python program to  Multiply all numbers in the list?

In [3]:
def func2(l):
    """
    Returns product of numbers in a list.
    Input
    1 : a list
    """
    p = 1
    for i in l:
        if type(i) == int:
            p = p * i
    return p

In [4]:
func2([1, 2, 4, 5, 45, "hello"])

1800

### 3. Write a Python program to find smallest number in a list?

In [5]:
def func3(l):
    """
    Returns min element in a list assuming list contains only numbers.
    Input
    1 : a list
    """
    return min(l)

In [6]:
func3([1, 2, 4, 5, 45, 0, -3, -2, 34, -1])

-3

### 4. Write a Python program to find largest number in a list?

In [7]:
def func4(l):
    """
    Returns max element in a list assuming list contains only numbers.
    Input
    1 : a list
    """
    return max(l)

In [8]:
func4([1, 2, 4, 5, 45, 0, -3, -2, 34, -1])

45

### 5. Write a Python program to find second largest number in a list?

In [9]:
def func5(l):  
    """
    Returns second largest element in a list assuming list contains only numbers.
    Input
    1 : a list
    """
    maxNum = max(l)
    # remove all occurences of maximum number
    for i in range(l.count(maxNum)):
        l.remove(maxNum)
    # returns the next maximum number
    return max(l)

In [10]:
func5([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1])

36

### 6. Write a Python program to find N largest elements from a list?

In [11]:
def func6(l, N):
    """
    Returns N largest elements in a list assuming list contains only numbers.
    Input
    1 : a list
    N : Number of largest elements to be displayed
    """
    for i in range(N):
        maxNum = max(l)
        print(maxNum)
        # remove all occurences of maximum number
        for i in range(l.count(maxNum)):
            l.remove(maxNum)

In [12]:
func6([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1], 3)

45
36
34

### 7. Write a Python program to print even numbers in a list?

In [13]:
def func7(l):
    """
    Prints even numbers in a list assuming list contains only numbers.
    Input
    1 : a list
    """
    for i in l:
        if i%2 == 0:
          print(i)

In [14]:
func7([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1])

2
4
0
-2
34
36

### 8. Write a Python program to print odd numbers in a List?

In [15]:
def func8(l):
    """
    Prints odd numbers in a list assuming list contains only numbers.
    Input
    1 : a list
    """
    for i in l:
        if i%2 == 1:
          print(i)

In [16]:
func8([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1])

1
5
45
45
-3
45
-1

### 9. Write a Python program to Remove empty List from List?

In [17]:
def func9(l):
    """
    Returns a list after removing an empty lists if present.
    Input
    1 : a list
    """
    for i in l:
        if i == []:
          l.remove(i)
    print(l)

In [18]:
func9([1, 2, 4, 5, [], 45, 45, 0,[], -3, -2, 34, 45,36, -1])

[1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45, 36, -1]

### 10. Write a Python program to Cloning or Copying a list?

In [19]:
def func10(l):
    """
    Returns a copy of the list.
    Input
    1 : a list
    """
    l1 = l.copy()
    return l1

In [20]:
func10([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1])

[1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45, 36, -1]

### 11. Write a Python program to Count occurrences of an element in a list?

In [21]:
def func11(l, n):
    """
    Returns number of occurences of the element passed.
    Input
    1 : a list
    n : element whose count will be returned
    """
    return l.count(n)

In [22]:
func11([1, 2, 4, 5, 45, 45, 0, -3, -2, 34, 45,36, -1], 45)

3