### Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [1]:
def filter_list(l):
    """
    Returns only integers from a list.
    Input
    l: a list
    """
    new_list = []
    for elem in l:
        if type(elem) == int:
            new_list.append(elem)
    return new_list
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [2]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [3]:
filter_list(["Nothing", "here"])

[]

### Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [4]:
def add_indexes(l):
    """
    Returns a new list with element and index added together.
    Input
    l: a list of numbers
    """
    new_list = []
    index = 0
    for i in l:
        new_list.append(i + index)
        index += 1
    return new_list
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [5]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [6]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

### Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth.

In [7]:
import math
def cone_volume(h, r):
    """
    Returns the volume of a cone.
    Input
    h: height
    r: radius
    """
    v = (math.pi* r**2 *h)/3
    return round(v,2)
cone_volume(3, 2)

12.57

In [8]:
cone_volume(15, 6)

565.49

In [9]:
cone_volume(18, 0)

0.0

### This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
<pre>
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [10]:
def triangle(n):
    """
    Returns the triangle number at nth position
    Input
    n: the position of number to be returned
    """
    if n == 1:
        print(1)
    else:
        l = [1]
        for index in range(0,n):
            l.append(l[index] + index +2)
        return l[n-1]
triangle(1)

1

In [11]:
triangle(6)

21

In [12]:
triangle(215)

23220

### Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [13]:
def missing_num(l):
    """
    Returns the missing number from a list of numbers between 1-10.
    Input
    l: a list
    """
    for i in range(1, 11):
        if i not in l:
            return i
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [14]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [15]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7