### Create a function that takes three parameters where:
1. x is the start of the range (inclusive).
2. y is the end of the range (inclusive).
3. n is the divisor to be checked against.
<br>Return an ordered list with numbers in the range that are divisible by the third parameter n.
<br>Return an empty list if there are no numbers that are divisible by n.

In [1]:
def list_operation(x, y, n):
    """
    Returns a list of numbers in the range divisible by the third parameter.
    Input
    x: start of the range
    y: end of the range
    n: divisor to be checked against
    """
    l = []
    for num in range(x, y+1):
        if num%n == 0:
            l.append(num)
    return l
 
list_operation(1, 10, 3)

[3, 6, 9]

In [2]:
list_operation(7, 9, 2)

[8]

In [3]:
list_operation(15, 20, 7)

[]

### Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.

In [4]:
def simon_says(l1, l2):
    """
    Determine if the second list is the first list shifted to the right by 1.
    Input
    l1: First list
    l2: Second list
    """
    # remove last elemnt of first list
    l1_modified = l1[:-1]
    # remove first elemnt of second list
    l2_modified = l2[1:]
    if l1_modified == l2_modified:
        return True
    else:
        return False
simon_says([1, 2], [5, 1])

True

In [5]:
simon_says([1, 2], [5, 5])

False

In [6]:
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [7]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False

### A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order. Create a function that takes in a list of names and returns the name of the secret society.

In [8]:
def society_name(l):
    """
    Returns name of secret society. The name will be the first letter of each of the friends' names, sorted in alphabetical order.
    Input
    l : List of friends name    
    """
    name = ""
    l.sort()
    for n in l:
        name += n[0]
    return name
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [9]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [10]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

### An isogram is a word that has no duplicate letters. Create a function that takes a string and returns either True or False depending on whether or not it&#39;s an &quot;isogram&quot;.

In [11]:
def is_isogram(s):
    """
    checks if a strings is an isogram.
    Input
    s: a string
    """
    s = s.lower()
    no_duplicate = set(s)
    if len(s) == len(no_duplicate):
        return True
    else:
        return False
is_isogram("Algorism")

True

In [12]:
is_isogram("PasSword")

False

In [13]:
is_isogram("Consecutive")

False

### Create a function that takes a string and returns True or False, depending on whether the characters are in order or not.

In [14]:
def is_in_order(s):
    """
    checks if the characters of a strings are in order
    Input
    s: a string
    """
    l = list(s)
    l.sort()
    s1 = "".join(l)
    if s == s1:
        return True
    else:
        return False
is_in_order("abc")

True

In [15]:
is_in_order("edabit")

False

In [16]:
is_in_order("123")

True

In [17]:
is_in_order("xyzz")

True